{% load static %}

{% for event in events %}
<h4 class="event" id="{{event.id}}">
    {{event}}, <div class="squad0">{{event.score0}}</div>-<div class="squad1">{{event.score1}}</div>, {{event.match_date}}
</h4>
{% endfor %}

<style>
    .squad0, .squad1{
        all: initial !important;
        * {
            all: unset !important;
        }
    }
</style>

<script type="text/javascript" src="{% static 'scoreboard/auto_update.js' %}"></script>

<script type="text/javascript">
    // setInterval(update_wrapper("{% url 'scoreboard:get_updated_scores' %}?ids="), 5000);
    update_wrapper("{% url 'scoreboard:get_updated_scores' %}?ids=")();
</script>
