{% extends "base.html" %}

{% block head %}
<title>Sports - SportsWeek</title>
{% endblock %}

{% block content %}
{% if sports %}
<ul>
  {% for sport in sports %}
  <li>
    <span>
        <span><a href="{% url 'scoreboard:ranking' sport_id=sport.id %}">{{sport.name}}</a></span>
        <a href="{% url 'scoreboard:update_sport' sport_id=sport.id %}?next={{request.path}}">Edit</a>
        <a href="{% url 'scoreboard:delete_sport' sport_id=sport.id %}?next={{request.path}}">Delete</a>
    </span>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Non sono presenti sport</p>
{% endif %}
{% if has_permission %}
<button onclick="location.href = '{% url 'scoreboard:create_sport' %}'">Add sport</button>
{% endif %}
{% endblock %}
