<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_orange-indigo.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row" style="padding-left: 16px;">
          <!-- Title -->
          <span class="mdl-layout-title">
              <a class="mdl-layout-title" href="{% url 'index' %}" style="all: inherit;
              text-decoration: none;">SportsWeek</a></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="#">Login</a>
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">
            {% block content %}{% endblock %}
            <footer class="mdl-mini-footer">
              <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">
                    SportsWeek v0.1 &copy
                    <script type="text/javascript">
                        document.write(new Date().getFullYear());
                    </script></div>
                </div>
                <ul class="mdl-mini-footer__link-list">
                  <li><a href="https://github.com/Hexwell/SportsWeek/issues/new" target="_blank">Segnala un bug</a></li>
                </ul>
            </footer>
        </div>
      </main>
    </div>
</body>
</html>
