{% extends "base.html" %} 

{% block content %}

<center>

	<h1> Benvenuti su SportsWeek</h1>
	<h3> La web app dedicata alla gestione di squadre e punteggi <br> durante la settimana dello sport, per l'ITIS Marconi. </h3> 
	<br> <div class="line"></div> <br> 

</center>		

<style>
	.demo-card-wide.mdl-card {
	  width: 700px;
	  height: 300px;
	  background: #66ccff;
	  align-items: center;
	}
	.demo-card-wide > .mdl-card__title {
	  color: #FFFFFF;
	}
	.demo-card-wide > .mdl-card__supporting-text1 {
		font-size: 40px;
	}

	.line {
		 height: 1px;
		 flex: 1;
		 background: rgb(33, 150, 243);
		 margin: 0 500px;
	}
</style>

<br>
<center>
    <div class="demo-card-wide mdl-card mdl-shadow--8dp">
        <div class="mdl-card__title">
            <h3> Come Funziona: SportsWeek </h3>
        </div><div class="mdl-card__supporting-text1">
        <h6>
            SportsWeek, suddivide gli utenti in varie categorie, in base al ruolo <br> che essi ricoprono durante la settimana dello sport. <br>
            Tali ruoli, sono i seguenti: <br><br>
            <b> Sport Manager </b>, ovvero il responsabile di squadre e tornei per uno specifico sport <br>
            <b> Squad Manager </b>, ovvero il "caposquadra" di un team per un particolare sport <br>
            <b> Player </b>, o partecipante alla settimana dello sport <br>
        </h6>
        <br>
        </div>
    </div>
</center>
{% endblock %}
